<ul class="menu-nav">
    <li class="item53"><a href="@Url.Action("Index", "Home")"><span>Главная</span></a></li>
    <li class="item55"><a href="@Url.Action("Papers", "Home")"><span>Готовые работы</span></a></li>
    <li class="item57"><a href="@Url.Action("TusurOrder", "Home")"><span>Студентам ТУСУР</span></a></li>
</ul>