body, td, th, div, p, label {
	color:#2F3E3A;
	font:normal 13px/18px Arial, Helvetica, sans-serif;
}

a {
	color:#2F3E3A;
	text-decoration:underline;
	cursor:pointer;
	outline:none;
}

a:hover {
	color:#2F3E3A;
	text-decoration:none;
}

.invalid {
	color:red!important;
}

.form-validate label {
	font-size:12px;
}

.validate-indent {
	margin-bottom:15px;
	display:block;
}

.validate {
	margin-top:15px;
}

.message {
	margin-left:0!important;
	margin-right:0!important;
	padding-right:11px;
}

.pollstableborder {
	width:100%;
}

#poll .componentheading {
	padding-left:0!important;
	margin-left:0!important;
}

.article_indent ul {
	margin:10px 0px 15px 0;
	list-style:none;
}

.article_indent ul li {
	padding:0px 0px 1px 17px;
	background:url(../Content/img/list_marker.gif) 0 6px no-repeat;
	line-height:21px;
	color:#2f3e3a;
}

.article_indent ul li a {
	color:#2f3e3a!important;
}

.article_indente a {
	color:#2f3e3a;
	text-decoration:underline;
}

.article_indent a:hover {
	color:#2f3e3a;
	text-decoration:none;
}

.article_indent table td .required {
	width:250px;
}

.input-field input {
	width:150px!important;
	color:#848181;
}

.article-decor {
	padding:0px 0px 0px 0px;
}

#contact_text {
	height:auto;
	overflow:auto;
	margin:0px 0px 5px 0px;
	width:90%;
}

.article_bot {
	line-height:5px;
}

.article-separator-indent {
	padding:0 0 0 0;
	display:none;
}

.article_separator {
	width:100%;
	margin:0 0px 0 0px;
	display:block;
	height:14px;
	background:url(../Content/img/article_separator.gif) 0 0 repeat-x;
}

.column_separator {
	padding:0px 0px 0px 0!important;
}

.article_column {
	padding:0px 21px 0 0px;
}

.article_indent h3 {
	overflow:hidden;
}

.article_indent h3 img {
	margin:0px 3px 0px 0px!important;
	float:left;
}

.contentpaneopen img {
	margin:0 10px 4px 0px;
}

.icon-indent {
	padding:9px 0 0 9px;
	margin-right:26px;
}

.icon-indent img {
	margin:0 0 0 18px!important;
}

.width {
	width:100%;
}

.indent-top-none {
	margin:0!important;
}

.componentheading {
	color:#162a3d;
	font-size:30px!important;
	font-weight:normal;
	line-height:140%;
	margin:0 0px 20px 0;
	padding:0 0 0 0;
	text-transform:capitalize;
}

.contentheading {
	color:#2c9abe;
	font-size:22px;
	line-height:28px;
	margin:0 0 0 0;
	padding:0 0px 0 0;
	font-weight:normal;
}

.buttonheading {
	padding:0 0px 0px 0;
}

.buttonheading img {
	margin:0px 0px 0px 0px;
}

.iteminfo {
	padding:0px 0px 6px 0px;
	margin:0px 0px 15px 0px;
}

td.modifydate {
	font-size:11px;
	padding:13px 0 5px 0;
	text-decoration:none!important;
	color:#2f3e3a;
}

div.modifydate {
	font-size:10px;
	padding:12px 0px 0px 0;
	text-decoration:none!important;
	color:#A7A6A6;
}

.createdby {
	color:#0f559d;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-transform:none;
}

.createdate {
	font-size:11px;
	margin:0px 0px 0px 0!important;
	padding:0 0px 0px 1px!important;
	text-transform:none;
	display:inline;
	color:#2f3e3a;
	font-weight:normal;
	line-height:12px;
	display:block;
}

span.small {
	font-size:11px;
	margin:0 0px 0 0;
	padding:0 0px 0 2px;
	text-transform:none;
	color:#2fa0c2;
	line-height:14px;
}

.wrapper-title span.small {
	color:#747474;
	font-size:11px;
	padding:0 0 0 31px;
	margin:0;
	line-height:13px;
}

.results span.small {
	margin:0 0 0 4px!important;
	color:#040404;
}

div.small {
	padding:6px 0px 1px 1px;
	color:#2f3e3a;
	margin:0 0 0 0;
	display:block;
	font-size:11px;
	text-transform:none;
	font-weight:normal;
}

.button, .validate {
	color:#000000;
	font-size:14px;
	line-height:15px;
	border:none;
	height:auto!important;
	padding:5px 0 7px 0;
	background:#E0F3FA!important;
	text-align:center;
	margin:0 0 0 0;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	text-transform:lowercase;
	display:block;
	width:88px;
}

.button:hover {
	color:#000000;
	text-decoration:underline;
}

.search_result .button {
	color:#000000;
	font-size:14px;
	line-height:15px;
	border:none;
	height:auto!important;
	padding:5px 0 7px 0;
	background:url(../Content/img/main_wrapper_button.gif) 0 0 no-repeat;
	text-align:center;
	margin:0 0 0 0;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	text-transform:lowercase;
	display:block;
	width:88px;
	float:left;
}

.word label {
	float:left;
	padding-top:3px;
}

.word #search_searchword {
	float:left;
	margin-right:9px;
}

#editor-xtd-buttons div.readmore {
	background:none;
	height:auto;
	margin:0px 0px 0px 0px;
	width:auto;
}

div.readmore {
	margin:0 0px 0px 0px;
	padding:0 0px 0px 10px;
}

div a.readon {
	color:#2f3e3a;
	font-size:13px;
	line-height:15px;
	border:none;
	height:auto!important;
	padding:5px 0 7px 0;
	background:#e0f3fa!important;
	text-align:center;
	margin:15px 23px 0 0;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	display:block;
	width:112px;
	float:left;
	font-weight:bold;
	text-decoration:none;
}

a.readon:hover {
	color:#000000!important;
	text-decoration:none;
}

.readon span {
	background:url(../Content/img/bull_1.gif) right 6px no-repeat;
	padding:0 13px 0 0;
	text-decoration:none;
}

.readon span span {
	background:url(../Content/img/line_1.gif) bottom left repeat-x;
	padding:0!important;
	text-decoration:none;
	color:#2f3e3a;
}

.readon:hover span span {
	background:url(../Content/img/line_1.gif) bottom left repeat-x;
	padding:0!important;
	text-decoration:none;
	background:none!important;
	color:#2f3e3a;
}

.text-page, .pagenav {
	color:#EEEEEE!important;
	text-decoration:none;
}

.blog_more {
	padding:25px 0px 25px 0;
}

.blog_more h2 {
	background:none;
	color:#000000!important;
	font-size:12px;
	padding:0px 0px 0px 0px;
}

.blog_more ul {
	margin:11px 0px 15px 0;
	list-style:none;
}

.blog_more ul li {
	background:url(../Content/img/list_marker.gif) 0 2px no-repeat;
	padding:0 0 0 23px;
	color:#FFF;
	line-height:16px;
	margin-bottom:6px;
}

.blog_more ul li a {
	line-height:16px;
	color:#345364;
	text-decoration:none;
}

.blog_more ul li a:hover {
	color:#A9D338;
}

.blog_more strong {
	color:#162a3d;
	font-size:17px!important;
	font-family:Tahoma;
	display:block;
	padding-bottom:15px;
	margin-top:0;
	font-weight:normal;
	text-transform:none!important;
}

.pagination span {
	background:url(../Content/img/pagination-left.gif) no-repeat 0 0 #260401;
	margin-right:3px;
	display:block;
	float:left;
}

.pagination span font {
	background:url(../Content/img/pagination-right.gif) no-repeat right 0;
	padding:5px 10px 5px 10px;
	line-height:14px;
	color:#146dac;
	font-weight:bold;
	display:block;
	font-size:11px;
}

.pagenav {
	color:#EEEEEE;
	font-size:12px;
	font-weight:normal;
	padding:0 4px;
}

.pagination_nav {
	color:#EEEEEE;
	font-size:12px;
	padding:21px 20px 0px 0px;
	text-align:center;
	word-spacing:3px;
	background:#191919;
}

.pagination_nav div {
	background:#f4f4f4;
	padding:5px 0px 5px 0px;
}

.pagination {
	margin-top:10px;
	display:block;
	overflow:hidden;
}

.pagination li {
	float:left;
	padding:0px 5px 0px 5px;
}

.pagination_result {
	color:#202020;
	padding:0 0px 21px 0px;
	line-height:16px;
	text-align:center;
	background:#191919;
	font-weight:bold;
	font-size:12px;
}

.sectiontableheader img {
	vertical-align:middle;
	margin-right:6px;
}

.sectiontableentry0 td {
	color:#040404;
	padding:10px 5px 10px 5px;
}

.sectiontableentry1 td {
	background:#F6FFEC;
	color:#040404;
	padding:10px 15px 10px 15px;
}

.sectiontableentry2 td {
	color:#040404;
	padding:10px 15px 10px 15px;
}

.sectiontableentry1 a {
	color:#040404!important;
}

.sectiontableentry2 a {
	color:#040404;
}

.sectiontableentry1 a:hover {
	color:#040404;
}

.sectiontableentry2 a:hover {
	color:#040404;
}

.var1 {
	background:#f6ffec;
	padding:10px!important;
	margin:10px 0px 10px 0px;
	color:#040404;
}

.var1 p, .var2 p {
	color:#040404;
}

.var1 h4 a, .var2 h4 a {
	color:#040404!important;
}

.var2 {
	padding:10px!important;
	margin:10px 0px 10px 0px;
	color:#040404;
}

.results {
	text-align:center;
	padding:0px 19px 0px 0;
}

#page {
	padding:0px 0 0 0;
}

#page ol li {
	padding:0px 0px 10px 0px;
	text-align:left;
}

.searchintro {
	padding:15px 0px 0 0;
}

.searchintro strong {
	color:#2c9abe;
	font-weight:bold;
}

#page h3 {
	font-size:130%;
	padding:10px 0px 15px 0;
	text-align:left;
	color:#162a3d;
	text-transform:none;
	font-weight:bold;
}

#page .display .inputbox, #page .inputbox {
	margin-top:3px;
	color:#282828;
}

#page .only input {
	vertical-align:middle;
	margin-right:5px;
	margin:3px 0;
	_margin:0 0;
}

#page #ordering {
	height:20px;
}

#page .display {
	padding:10px 0px 25px 0px;
}

#page legend {
	color:#FFF;
	background:#040404;
	padding:3px 7px;
}

.search_result {
	padding-top:0;
	padding-left:0;
	padding-right:10px;
}

.sectiontableentry0 .pad2 {
	color:#FFF;
}

.sectiontableentry0 .pad2, .sectiontableentry1 .pad2, .sectiontableentry2 .pad2 {
	padding:2px 0px 2px 15px;
}

.sectiontableheader {
	padding:15px 0;
}

.extra-wrapper {
	width:3%;
	float:left;
	border:none!important;
}

.poll-body {
	padding:15px 0 5px 0;
}

.poll .question {
	font-size:13px!important;
	color:#2f3e3a!important;
	line-height:14px;
	font-weight:bold;
	padding:11px 0 0 0;
}

.poll .body label {
	font-size:11px;
	line-height:14px;
	padding:0px 0px 0 7px!important;
	color:#FFF;
}

.button {
	cursor:pointer;
}

.poll .button {
	color:#000000;
	font-size:13px;
	border:none;
	height:auto!important;
	line-height:13px;
	padding:5px 0 5px 0!important;
	margin:0 0 0 0!important;
	background:#e0f3fa!important;
	width:78px!important;
	text-align:center;
	display:block;
	font-weight:bold;
	text-transform:capitalize!important;
	font-family:Arial, Helvetica, sans-serif;
}

.poll .button:hover, .poll .result:hover {
	color:#2f3e3a;
	text-decoration:underline;
}

.poll .result {
	margin:0 87px 0 0!important;
	font-size:13px;
	border:none;
	height:auto!important;
	line-height:16px;
	padding:5px 0 5px 0!important;
	background:#e0f3fa!important;
	width:78px!important;
	text-align:center;
	display:block;
	font-weight:bold;
	text-transform:capitalize!important;
	font-family:Arial, Helvetica, sans-serif;
}

.poll .section, .poll .section2 {
	overflow:hidden;
	padding:0px 0px 0 0px;
	width:100%;
	margin-bottom:1px;
}

.poll .radio {
	float:left;
	width:19px;
}

.poll .radio input {
	display:block;
	width:16px;
	height:16px;
	vertical-align:middle;
	_margin-top:2px;
}

.poll .var {
	margin:0px 0px 0px 20px;
	text-align:left;
}

.display {
	padding:0px 0px 10px 0px;
}

.display select {
	border:1px solid #040404;
	width:100px;
}

.sectiontableentry1 div, .sectiontableentry0 div {
	font-size:1px;
}

.fright {
	float:right;
}

.fleft {
	float:left;
}

.extra-text-title {
	padding-bottom:20px;
	font-size:14px;
}

dl.contentpane dt {
	padding:10px 0px 20px 0px;
}

dl.contentpane dd {
	width:100%;
	overflow:hidden;
}

dl.contentpane div {
	vertical-align:middle;
}

dl.contentpane .description {
	width:110px;
	padding:0px 0px 0px 0px;
	vertical-align:middle;
}

dl.contentpane .input-field {
	width:160px;
	padding:0px 0px 0px 0px;
	vertical-align:middle;
}

* html dl.contentpane .input-field {
	padding-top:3px;
}

dl.contentpane .button-field {
	width:140px;
	_padding:17px 0 0 0;
}

dl.contentpane .button-field .validate {
	color:#000000;
	font-size:14px;
	line-height:15px;
	border:none;
	height:auto!important;
	padding:5px 0 7px 0;
	background:url(../Content/img/main_wrapper_button.gif) 0 0 no-repeat;
	text-align:center;
	margin:0 0 0 0;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	text-transform:lowercase;
	display:block;
	width:88px;
	_margin:0 0 13px 0!important;
}

dl.contentpane .button-field .validate:hover {
	color:#000;
	text-decoration:underline;
}

.row-logo .fright .module-search {
	background:url(../Content/img/bg_search.gif) 0 131px no-repeat;
	height:246px;
}

.row-logo .fright .search {
	padding:131px 0 0 0;
	width:100%;
	overflow:hidden;
}

.row-logo .fright .search-input {
	float:left;
	width:212px;
}

.row-logo .fright .search-button {
	float:left;
	width:33px;
}

.module-search h3 {
	color:#FFFFFF;
	font-size:13px;
	font-weight:normal;
	padding:107px 0 0 3px;
}

.search .inputbox {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:14px;
	vertical-align:top;
	width:212px;
	color:#000000;
	text-transform:capitalize!important;
	margin:0 0 0 0;
	padding:5px 0 4px 5px;
	background:none;
	border:1px solid #040404;
}

.search .button {
	color:#FFF;
	width:33px!important;
	height:42px!important;
	padding:0 0 0 0!important;
	margin:0 0 0 0;
	background:none!important;
}

.search_result h3 {
	color:#d6d5d5;
	text-transform:uppercase;
	font-size:14px;
}

.search_result p {
	padding:10px 0px 0px 0px;
}

#search_searchword {
	border:1px solid #040404;
}

legend {
	color:#C4C4C4;
	background:#042447;
}

.highlight {
	color:#2c9abe;
	font-weight:bold;
}

.phrase {
	border:solid 1px #040404;
	color:#FFF;
	float:left;
	padding:0 10px;
	width:60%;
}

.phrase .inputbox {
	background:#fff;
	color:#808080;
	display:block;
	margin-top:10px;
}

.phrase .inputbox option {
	background:#fff;
	border-bottom:solid 1px #202020;
	padding:2px;
}

.phrase .inputbox option a:hover {
	background:#C00;
	border-color:#cfd0d6;
	color:#1e3300;
}

fieldset.word, fieldset.only {
	border:solid 1px #353535;
}

.only {
	border:solid 0;
	line-height:1.3em;
	padding:0 10px 0 10px;
}

.only-indent {
	padding-bottom:2px;
}

.word {
	border:solid 0!important;
	padding:10px 10px 10px 0;
}

.word input {
	background:#fff;
	color:#ff6614;
	font-weight:normal;
	margin:0 0 0 10px;
	padding:1px 2px 1px 2px;
	_height:24px;
}

.contact_email input {
	margin:4px 0px 3px 0px;
}

.contact_email input, .contact_email textarea {
	margin-top:4px!important;
	color:#747474;
	font-size:11px;
	font-family:Arial;
}

#contact_email_copy {
	margin-top:2px!important;
	vertical-align:middle;
}

.only .indent-extra-top {
	padding:11px 0;
}

.line-bottom-phrase {
	height:27px;
}

.separate-search {
	width:2%;
	float:left;
	border:none;
}

.adminform td {
	padding:0px 0px 2px 0px;
}

/*.error {
	margin:0px 0 25px 0;
}*/

.error h2 {
	color:#bd0202;
	font:bold 14px Tahoma;
	padding:15px 0 15px 0;
}

#system-message dt.error, dt.message {
	display:none;
}

.error dd ul {
	background:#920202;
	border-top:3px solid #670606;
	border-bottom:3px solid #670606;
	color:#fff;
	margin:0 0 0 0!important;
	padding:5px 0px 5px 5px;
}

.error dd ul li {
	background:none!important;
	color:#fff!important;
	margin:0px 0px 0px 20px!important;
}

.pass_remind {
	vertical-align:middle;
	padding:0px 0px 0px 10px;
}

.module label {
	display:block;
	line-height:100%;
	padding:0 0px 8px 0;
	vertical-align:middle;
	color:#2f3e3a;
	font-size:13px;
	line-height:14px;
}

.poll-body {
	padding:20px 4px 10px 0;
}

.count {
	font-weight:bold;
	color:#c0db28;
}

.module span {
	color:#64b5cf;
	font-size:13px;
	font-weight:normal;
}

.breadcrumbs {
	padding:12px 0 11px 31px;
	display:block;
	color:#8c0019;
	font-size:12px;
}

.breadcrumbs .pathway {
	color:#8c0019!important;
	text-decoration:none!important;
	text-transform:none;
	text-decoration:none;
	font-size:12px;
}

.breadcrumbs .pathway:hover {
	text-decoration:none!important;
	color:#8c0019;
	font-size:12px;
}

.breadcrumbs img {
	margin:0 14px 1px 2px;
}

.header .phone-number-container {
    position: relative;
}

.header .phone-number-container .phone-number {
    position: absolute;
    top: 10px;
    right: 200px;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.header .phone-number-container .call-order:hover {
    color: white;
    cursor: pointer;
}

.header .phone-number-container .call-order {
    position: absolute;
    top: 28px;
    color: #A9D338;
    right: 225px;
}

.header .phone-number-container .call-order-form {
    
}

.popup {
    padding: 10px;
    position: relative;
}

.popup table {
    width: 100%;
}

.popup table td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.popup table .labels {
    width: 130px;
    vertical-align: middle;
    color: black;
}

.popup table input {
    width: 180px;
    height: 30px;
    display: block;
}

.popup table select {
    width: 184px;
    padding: 5px;
    height: 30px;
    display: block;
}

.popup table textarea {
    width: 182px;
}

.order-button {
    position: relative;
    padding: 10px 20px;
    color: #fff !important;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none !important;
    display: inline-block;
    background-color: #3AD5A0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    opacity: .9;
    float: left;
}

.order-button:hover {
    opacity: 1;
    box-shadow: 0 1px 10px rgba(0,0,0,.3);
}

.info {
    text-align: left;
    /*padding: 5px;*/
    font-size: 11px;
    color: #fff;
    /*position: absolute;*/
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Verdana;
    z-index: 99999;
    white-space: nowrap;
}
.error-input {
    border: 1px solid red;
}
.error {
        color: #f60000;
        /*border: 3px solid #d50000;*/
}
.correct {
        background: #56d800;
        border: 3px solid #008000;
}
.wrong {
        color: #e90000;
}
.normal {
        font-weight: normal;
        color: #222;
}

.header ul.menu-nav {
	padding:0 100px 0 136px!important;
	margin:0 0 0 0!important;
	list-style:none;
}

.header ul.menu-nav li {
	display:block!important;
	font-weight:bold;
	text-transform:uppercase;
	padding:0!important;
	margin:0!important;
	float:left!important;
}

.header ul.menu-nav li a {
	border:none;
	text-decoration:none!important;
	display:block!important;
	float:left!important;
}

.header ul.menu-nav li a span {
	display:block;
	padding: 18px 15px 17px 15px;
	color:#FFFFFF;
	display:block;
	font-size:14px;
	text-decoration:none!important;
	float:left;
	font-weight:bold;
}

.header ul.menu-nav li a:hover {
	border:none;
	display:block;
	text-decoration:none;
	width:auto;
	font-weight:bold;
	background:url(../Content/img/top_menu_wrapper_button.gif) 0 0 repeat-x;
}

.header ul.menu-nav li a:hover span {
	display:block;
	color:#FFF;
	font-weight:bold;
	background:url(../Content/img/top_menu_wrapper_button.gif) 0 0 repeat-x;
}

.header ul.menu-nav li.active a {
	border:none;
	display:block;
	float:left;
	text-align:center;
	width:auto;
	font-weight:bold;
	background:url(../Content/img/top_menu_wrapper_button.gif) 0 0 repeat-x;
}

.header ul.menu-nav li.active a span {
	color:#FFF;
	background:url(../Content/img/top_menu_wrapper_button.gif) 0 0 repeat-x;
}

.footer ul.menu-nav {
	padding:0 0 0 138px!important;
	margin:0 0 0 0!important;
}

.footer ul.menu-nav li {
	display:block;
	padding:0 0 0 0;
	float:left;
}

.footer ul.menu-nav li a {
	border:none;
	text-decoration:none!important;
	display:block;
	float:left;
}

.footer ul.menu-nav li a span {
	display:block;
	color:#a1acbe;
	display:block;
	font-size:13px;
	text-decoration:none!important;
	float:left;
	font-weight:normal;
	background:url(../Content/img/separator_menu.gif) right 4px no-repeat;
	padding:0 10px;
	text-transform:capitalize;
}

.footer ul.menu-nav li a:hover {
	border:none;
	display:block;
	text-decoration:none;
	width:auto;
	font-weight:normal;
}

.footer ul.menu-nav li a:hover span {
	display:block;
	color:#4cb8d4;
	font-weight:normal;
}

.footer ul.menu-nav li.active a {
	border:none;
	display:block;
	float:left;
	text-align:center;
	width:auto;
	font-weight:normal;
}

.footer ul.menu-nav li.active a span {
	color:#4cb8d4;
}

.moduletable-login {
	color:#848181;
	padding:15px 0 0 25px;
}

.bg-input {
	height:24px;
	background:url(../Content/img/bg_input.gif) 0 0 no-repeat;
	margin:3px 0 6px 0;
}

.module-login label {
	font-size:13px;
	line-height:18px;
	display:block;
	color:#2f3e3a;
	font-weight:normal;
	padding:0 0 0 0;
}

.module-login p, label.remember {
	font-size:13px;
	font-weight:normal;
	padding:0 0px 0px 0px;
	color:#393C42;
}

label.remember {
	font-size:13px;
	color:#2f3e3a;
	padding:7px 0 0 1px;
}

.module-login a {
	color:#2f3e3a;
	font-size:11px;
	line-height:16px!important;
	font-weight:normal;
}

.module-login a:hover {
	color:#2f3e3a;
}

.module-login .inputbox {
	width:170px;
	margin:0 0 0 0!important;
	color:#2f3e3a;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:16px;
	padding:3px 0px 1px 11px;
	vertical-align:top;
	border:1px solid #2f3e3a;
	background:none;
}

.indent-button {
	margin:12px 0 1px 0;
}

.module-login .button {
	color:#000000;
	font-size:13px;
	border:none;
	height:auto!important;
	line-height:14px;
	padding:4px 0 8px 0!important;
	margin:0 0 0px 0!important;
	background:#e0f3fa!important;
	width:71px!important;
	text-align:center;
	display:block;
	font-weight:normal;
	text-transform:capitalize!important;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.module-login .button:hover {
	color:#000000;
	text-decoration:underline;
}

.logform-indent {
	line-height:16px;
	padding:5px 0;
}

.logform-indent p {
	padding:1px 0 0 2px;
	margin:0;
	line-height:14px;
}

.form-indent-button {
	padding:9px 0 5px 0!important;
}

.form-indent1 {
	font-size:11px!important;
	color:#2f3e3a!important;
	line-height:13px;
	padding:0 0 0 2px!important;
}

.form-indent1 a, .form-indent1 a:hover {
	color:#2f3e3a!important;
	font-size:11px!important;
}

#mod_login_remember {
	background:#fff;
	border:none;
	display:block;
	float:left;
	margin:10px 5px 0 0px;
	vertical-align:middle;
	width:12px;
	height:12px;
}

.contenttoc th {
	padding-bottom:10px;
}

.pagenavcounter {
	padding:15px 0;
}

.article-indent h3 img {
	margin:5px 0 0 0!important;
}

.article-indent h3, .article-indent h2 {
	padding:15px 0 10px 0;
}

.separator-bottom {
	background:url(../Content/img/separator_bottom.gif) bottom left repeat-x;
}

.width {
	width:100%;
}

.extra-indent-right {
	padding:11px 14px 0 0;
}

.indent-button23 {
	padding-top:19px;
}

.menu {
	margin:14px 11px 40px 7px!important;
	list-style:none;
}

.menu li {
	line-height:15px;
	margin:0 0 0 0;
	width:100%;
	overflow:hidden;
	float:left;
}

.menu li a {
	color:#345364!important;
	font-size:13px;
	line-height:15px;
	background:url(../Content/img/main_menu_marker.gif) 0 8px no-repeat;
	padding:3px 0 2px 18px;
	text-decoration:none;
	display:block;
	float:left;
}

.menu li a:hover {
	color:#a7d233!important;
	line-height:15px;
}

.menu li li {
	padding:0 0 0 0px;
	margin:0;
	background:none;
	border:none;
}

.menu .active ul {
	padding:15px 0 5px 21px;
	margin:0;
}

.menu .active ul li {
	padding:0 0 0 0;
}

.menu .active a {
	color:#345364!important;
	padding:3px 0 2px 18px;
}

.menu .active a:hover {
	color:#a7d233!important;
}

.menu ul {
	list-style:none;
}

.pagin-top, .pagin-bottom, .pagin-top span, .pagin-top a, .pagin-bottom span, .pagin-bottom a, .pagin, .pagin span, .pagin a, .pagin a:hover, .pagin-top-border {
	color:#040404!important;
}

.pagin-top {
	padding:1px 0!important;
}

.pagin-bottom {
	padding:11px 0 15px 0;
}

.log p {
	padding:10px 0;
	font-weight:normal;
	color:#64B5CF;
	font-size:13px;
}

#component-contact .contentheading {
	padding:0 0 15px 0!important;
	font-size:125%;
	color:#5A7986;
}

.article-indent ul {
	list-style:none;
	margin:15px 0;
}

.article-indent ul li {
	background:url(../Content/img/list_marker.gif) 0 1px no-repeat;
	padding:0 0 0 23px;
	line-height:17px;
	margin-bottom:4px;
	font-size:13px;
	color:#2f3e3a;
}

.article-indent ul li a {
	line-height:17px;
	color:#2c9abe!important;
	font-size:13px;
}

.article-indent ul li a:hover {
	color:#2c9abe!important;
}

.article-indent ul li p {
	line-height:17px;
}

.list-web-links li span, .list li span {
	color:#2fa0c2!important;
	margin:0 0 0 5px;
}

.contentdescription img {
	margin-right:19px;
}

.row-img img {
	margin:0;
}

#body {
	background:#111D31;
	text-align:center;
	min-width:1200px;
}

.main {
	width:1200px;
	position:relative;
	margin:0 auto;
	padding:0 0 0 0;
}

.clear {
	width:100%;
	overflow:hidden;
}

.clear1 {
	clear:both;
}

.br {
	display:block;
}

.wrapper-header {
	background:url(../Content/img/wrapper_header.jpg) 0 0 no-repeat;
}

.wrapper-header-min {
	background:url(../Content/img/wrapper_header_min.png) 0 0 no-repeat;
}

.order-container {
    min-height: 600px;
    width: 900px;
    margin: 230px auto 100px;
}

.sidebar {
    float: right;
    width: 300px;
    position: relative;
    margin-top: 50px;
}

#specialities {
    float: left;
    margin-bottom: 100px;
}

table#main_table {
    width: 500px;
}

table#main_table tr{
    height: 30px;
}
table#main_table td{
    color: #217E9C;
    font: 14px Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}
table#main_table td a{
    font: 14px Arial, sans-serif;
    color: #2c9abe;
}
table#main_table th{
    font: oblique 16px Georgia,serif;
    color: #5C5C5C;
    text-align: left;
}
table#main_table th.code{
    width: 80px;
}
table#main_table tr.subheader td{
    font: 18px Arial, sans-serif;
    color: #000;
    padding: 27px 0 8px 82px;
}

.row-logo {
	height:464px;
}

.row-logo h1 {
	display:block;
	margin:29px 0 0 159px;
	position:absolute;
}

.row-logo h1 a {
	display:block;
	position:absolute;
	cursor:pointer;
    text-decoration: none;
}

.row-logo h1 a .logo-main {
    width: 470px;
    font-size: 48px;
    margin-top: 50px;
    color: rgb(247, 247, 247);
    text-shadow: 1px 1px 0px rgba(142, 137, 255, 1);
    /*font-family: 'Helvetica Inserat Cyrillic';*/
    font-family: 'Arial';
    font-weight: bold;
}

.row-logo h1 a .slogan {
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
    font-family: Arial;
}

.tail-content {
	background:#FFF url(../Content/img/tail_content.jpg) 0 0 repeat-x;
}

.row-top-menu {
	height:53px;
}

#content {
	padding:37px 1px 0 0;
}

#container {
	overflow:hidden;
	height:100%;
	text-align:left;
	padding:0 0 0 0;
}

#right {
	float:right;
	text-align:left;
	width:342px;
	_margin:0 0 0 -3px;
}

.right-indent {
	padding:0 0 0 55px;
}

.indent-content {
	padding:21px 131px 0 132px;
}

.top-box .border-top {
	background:url(../Content/img/border_top.gif) repeat-x top #FBFFF8;
}

.top-box .border-bottom {
	background:url(../Content/img/border_bottom.gif) repeat-x bottom;
}

.top-box .border-left {
	background:url(../Content/img/border_left.gif) repeat-y left;
}

.top-box .border-right {
	background:url(../Content/img/border_right.gif) repeat-y right;
}

.top-box .corner-top-left {
	background:url(../Content/img/corner_top_left.gif) no-repeat left top;
}

.top-box .corner-top-right {
	background:url(../Content/img/corner_top_right.gif) no-repeat right top;
}

.top-box .corner-bottom-left {
	background:url(../Content/img/corner_bottom_left.gif) no-repeat left bottom;
}

.top-box .corner-bottom-right {
	background:url(../Content/img/corner_bottom_right.gif) no-repeat right bottom;
}

.top-box-inner {
	padding:26px 0 2px 17px;
}

.row-col {
	padding:24px 0 0 0;
}

.row-col .col-1a {
	width:282px;
	background:url(../Content/img/banner_wrapper_1.jpg) 0 0 no-repeat;
	height:70px;
}

.row-col .col-2a {
	width:282px;
	margin-left:15px;
	background:url(../Content/img/banner_wrapper_2.jpg) 0 0 no-repeat;
	height:70px;
}

.top-box .col-1 {
	width:298px;
	text-align:left;
}

.top-box .col-2 {
	width:585px;
	text-align:left;
}

.top-box .col-2 h3 {
	font-size:31px;
	color:#162A3D;
	line-height:43px;
}

.top-box .col-2 em {
	display:block;
	padding:4px 0 10px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
}

.top-box .col-2 .main-tesises {
    margin-top: 10px;
    margin-left: 30px;
}

.top-box .col-2 .main-tesises li {
    list-style-image: url(../Content/img/bullet.png);
    height: 28px;
    font-size: 14px;
}

.top-box .col-2 .main-tesises li a {
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.inner-extra-indent {
	padding: 28px 6px 10px 60px;
    font-size: 16px;
    line-height: 15px;
    color: #616161;
    text-align: center;
    font-weight: bold;
}

.extra-link {
	background:url(../Content/img/extra_bull.gif) right 6px no-repeat;
	padding:0 12px 0 0;
	font-weight:bold;
}

.extra-link a {
	background:url(../Content/img/link_line.gif) bottom left repeat-x;
	text-decoration:none;
	color:#ffffff;
	font-size:12px;
}

.extra-link a:hover {
	background:none;
	text-decoration:none;
	color:#FFF;
}

.extra-link1 {
	background:url(../Content/img/extra_bull.gif) right 6px no-repeat;
	padding:0 0 0 0;
	font-weight:bold;
	display:block;
	width:73px;
}

.extra-link1 a {
	background:url(../Content/img/link_line.gif) bottom left repeat-x;
	text-decoration:none;
	color:#ffffff;
	font-size:12px;
	margin:0 12px 0 0;
}

.extra-link1 a:hover {
	background:none;
	text-decoration:none;
	color:#FFF;
}

.wrapper-box .box-title .border-top {
	background:url(../Content/img/border1_top.gif) repeat-x top #3db7d1;
}

.wrapper-box .box-title .border-bottom {
	background:url(../Content/img/border1_bottom.gif) repeat-x bottom;
}

.wrapper-box .box-title .corner-top-left {
	background:url(../Content/img/corner1_top_left.gif) no-repeat left top;
}

.wrapper-box .box-title .corner-top-right {
	background:url(../Content/img/corner1_top_right.gif) no-repeat right top;
}

.wrapper-box .box-title .corner-bottom-left {
	background:url(../Content/img/corner1_bottom_left.gif) no-repeat left bottom;
}

.wrapper-box .box-title .corner-bottom-right {
	background:url(../Content/img/corner1_bottom_right.gif) no-repeat right bottom;
}

.wrapper-box .box-title h3 {
	color:#FFF;
	font-size:22px;
	padding:6px 11px 6px 19px;
	font-weight:normal;
}

.wrapper-box .main-box {
	padding:14px 11px 40px 7px;
}

.s1 .main-box {
	padding:14px 0 25px 7px!important;
}

#right .module ul {
	list-style:none;
	margin:0;
	padding:0;
}

#right .module ul li {
	background:url(../Content/img/list_marker.gif) 0 3px no-repeat;
	padding:0 0 0 23px;
	color:#345364;
	margin-bottom:4px;
}

#right .module ul li a {
	color:#345364;
	text-decoration:none;
}

#right .module ul li a:hover {
	text-decoration:none;
	color:#a9d338;
}

#right .list-1 {
	margin-bottom:5px!important;
	width:100%;
	overflow:hidden;
}

#right .list-1 li {
	background:none!important;
	padding:0!important;
	margin:0 0 7px 0!important;
	width:100%;
	overflow:hidden;
	float:left;
}

#right .list-1 li a {
	color:#2f3e3a;
	font-size:14px;
	text-decoration:none;
	display:block;
	float:left;
	line-height:21px;
}

#right .list-1 li strong {
	display:block;
	float:left;
	width:55px;
	height:22px;
	text-align:center;
	color:#FFF;
	font-size:12px;
	margin-right:12px;
	line-height:22px;
}

#right .list-1 .list-wrapper-1 strong {
	background:url(../Content/img/list_wrapper_1.gif) 0 0 no-repeat;
}

#right .list-1 .list-wrapper-1 a:hover {
	color:#ff873d!important;
}

#right .list-1 .list-wrapper-2 strong {
	background:url(../Content/img/list_wrapper_2.gif) 0 0 no-repeat;
}

#right .list-1 .list-wrapper-2 a:hover {
	color:#9fa105!important;
}

#right .list-1 .list-wrapper-3 strong {
	background:url(../Content/img/list_wrapper_3.gif) 0 0 no-repeat;
}

#right .list-1 .list-wrapper-3 a:hover {
	color:#73a9d0!important;
}

.wrapper-link1 {
	width:112px;
	background:#e0f3fa;
	text-align:center;
	height:27px;
	line-height:26px;
}

.wrapper-link1 span {
	background:url(../Content/img/bull_1.gif) right 6px no-repeat;
	padding:0 13px 0 0;
}

.wrapper-link1 a {
	background:url(../Content/img/line_1.gif) bottom left repeat-x;
	text-decoration:none;
	font-weight:bold;
}

.wrapper-link1 a:hover {
	background:none!important;
}

.img-indent {
	float:left;
	margin:0 12px 0 0;
}

.article-indent {
	padding:10px 21px 29px 0;
}

.extra-box .box-title h3 {
	color:#162a3d;
	font-size:24px;
	padding:5px 0 21px 0;
}

.extra-box-separator {
	background:url(../Content/img/extra_box_separator.gif) 0 0 repeat-x;
	padding:20px 0 0 0;
}

.extra-box {
	padding-bottom:51px!important;
}

.extra-box ul {
	list-style:none;
	margin:0;
	padding:0;
}

.extra-box ul li {
	background:url(../Content/img/list_marker.gif) 0 2px no-repeat;
	padding:0 0 0 23px;
	margin-bottom:8px;
}

.extra-box ul li a {
	color:#345364;
	line-height:17px;
	text-decoration:none;
	font-size:14px;
}

.extra-box ul li a:hover {
	color:#A9D338;
	line-height:17px;
	text-decoration:none;
	font-size:14px;
}

.tail-footer {
	border-top:4px solid #4CB8D4;
	background:#111D31;
}

.footer {
	padding:28px 0 40px 0;
}

.footer .fleft {
	width:684px;
}

.footer .fright {
	width:419px;
	color:#6b7689;
}

.footer .fright span {
	display:block;
}

.footer .fright a {
	color:#6b7689;
	text-decoration:none;
}

.footer .fright a:hover {
	color:#4cb8d4;
	text-decoration:underline;
}

@font-face {
    font-family: "Helvetica Inserat Cyrillic";
    src: url('fonts/890197754-HIYU____.eot');
    src: url('fonts/890197754-HIYU____.eot?#iefix') format('embedded-opentype'),
    url('fonts/890197754-HIYU____.svg#Helvetica Inserat Cyrillic') format('svg'),
    url('fonts/890197754-HIYU____.woff') format('woff'),
    url('fonts/890197754-HIYU____.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


