@{
    ViewBag.Title = "Заказ работ";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

<div class="order-container">
    <div class="title-page">
        <h1>Заказ работ</h1>
    </div>
    <div class="contacts">
        <div class="description-page">
            <p>Предлагаем помощь в написании дипломных проектов и контрольных работ, курсовых работ, рефератов, докладов, тезисов по различным отрослям наук.</p>
        </div>
        <h2>Контактная информация:</h2>
        <br/>
        <div class="contacts-data">
            <p>Советская, 83 (антикафе "Вместе")</p>
            <p><b>Телефоны:</b></p>
            <p>+7-953-916-0500</p>
            <p>(3822) 50-74-89</p>
            <p>(+7-913-820-7489)</p>
            <p><b>E-mail:</b> scienceplus@yandex.ru</p>
            <p><b>ICQ:</b> 363-416-407</p>
            <p><a href="http://vk.com/hellostudentru">http://vk.com/hellostudentru</a></p>
        </div>
        <img src="@Url.Content("~/Content/img/depositphotos_1445627-Learning.png")" />
    </div>
    <hr/>
</div>