@{
    ViewBag.Title = "Репетиторство";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

<div class="order-container">
    <div class="title-page">
        <h1>Репетиторство</h1>
    </div>
    <div class="description-page">
        <div class="repetitor">
            <h2>Услуги репетитора по школьным и студенческим дисциплинам</h2>
            <br/>
            <p>Критерии выбора репетитора зависят от того, для какой цели вам необходим преподаватель:</p>
            <p><b>• Подготовка к ЕГЭ:</b> в первую очередь следует обратить внимание на опыт репетитора по подготовке к ЕГЭ (репетитор должен владеть форматом ЕГЭ и методикой подготовки к сдаче именно этого экзамена).</p>
            <p><b>• Повысить успеваемость в школе:</b> в качестве репетитора для улучшения успеваемости в школе хорошо подойдет школьный учитель, студент или молодой аспирант. Важным фактором будет являться предпочтение самого ребенка, с кем ему будет интереснее заниматься.</p>
            <p><b>• Научиться решать нестандартные задачи:</b> в случае подбора репетитора для подготовки к участию в олимпиадах следует четко представлять, какие именно задачи следует подтянуть (это лучший вариант), либо подбирать репетитора, которые уже имеет успешный опыт подготовки к требуемым олимпиадам и хорошо знаком их с программой.</p>
            <p><b>• Повысить успеваемость в университете:</b> при поиске репетитора для подготовки к сессии хорошим вариантом будет репетитор одного из технических вузов (ТГУ, ТПУ, ТУСУР) — такие репетиторы знакомы со спецификой программы по определённому предмету и помогут в короткие сроки освоить новый материал.</p>
            <a href="@Url.Action("Order")"><b>Связаться с нами</b></a>
        </div>
    </div>
</div>