@using HelloStudent.Models
@model HelloStudent.Models.SubjectsListModel

<table id="main_table" style="margin-left: 30px;">
    <tbody>
        @foreach (SubjectModel t in Model.SubjectsList)
        {
            <tr>
                <td><a href="javascript:void(0);">@t.SubjectName</a></td>
            </tr>
        }
    </tbody>
</table>